@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using KHHub.MasterDataService.Permissions
@using KHHub.Web.Pages.ArticleTagMappings
@using KHHub.Web.Navigation
@using Microsoft.AspNetCore.Mvc.Localization
@using KHHub.MasterDataService.Localization
@inject IHtmlLocalizer<MasterDataServiceResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ArticleTagMappings"].Value;
    PageLayout.Content.MenuItemName = KHHubMenus.ArticleTagMappings;
}
@section scripts
{
    <abp-script src="/Pages/ArticleTagMappings/index.js" />
}
@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(MasterDataServicePermissions.ArticleTagMappings.Create))
    {
        <abp-button id="NewArticleTagMappingButton" text="@L["NewArticleTagMapping"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}
<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_12">
                <label class="form-label" for="FilterText">@L["Search"].Value</label>
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]" />
                        <abp-button button-type="Primary" type="submit" icon="search" />
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_4">
                <label class="form-label" asp-for="ArticleIdFilter">@L["Article"].Value</label>
                <select asp-for="ArticleIdFilter"
                        class="auto-complete-select"
                        data-autocomplete-api-url="@Url.Content("~/api/masterdata/article-tag-mappings/article-lookup")"
                        data-autocomplete-display-property="displayName"
                        data-autocomplete-value-property="id"
                        data-autocomplete-items-property="items"
                        data-autocomplete-filter-param-name="filter"
                        data-autocomplete-allow-clear="true"
                        data-autocomplete-placeholder="@L["Search"].Value">
                </select>
            </abp-column>
            <abp-column size-md="_4">
                <label class="form-label" asp-for="ArticleTagIdFilter">@L["ArticleTag"].Value</label>
                <select asp-for="ArticleTagIdFilter"
                        class="auto-complete-select"
                        data-autocomplete-api-url="@Url.Content("~/api/masterdata/article-tag-mappings/article-tag-lookup")"
                        data-autocomplete-display-property="displayName"
                        data-autocomplete-value-property="id"
                        data-autocomplete-items-property="items"
                        data-autocomplete-filter-param-name="filter"
                        data-autocomplete-allow-clear="true"
                        data-autocomplete-placeholder="@L["Search"].Value">
                </select>
            </abp-column>
            <abp-column size-md="_4">
                <label class="form-label" asp-for="IsPrimaryFilter">@L["IsPrimary"].Value</label>
                <select asp-for="IsPrimaryFilter" asp-items="Model.IsPrimaryFilterItems" class="form-select"></select>
            </abp-column>
        </abp-row>
        <abp-table striped-rows="true" hoverable-rows="true" id="ArticleTagMappingsTable">
            <thead>
                <tr>
                    <th style="width: 90px;">@L["Actions"]</th>
                    <th>@L["IsPrimary"]</th>
                    <th>@L["Order"]</th>
                    <th>@L["ArticleTag"]</th>
                    <th>@L["Article"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>
