@page
@using Microsoft.AspNetCore.Mvc.Localization
@using KHHub.MasterDataService.Localization
@using KHHub.Web.Pages.ArticleViews
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IHtmlLocalizer<MasterDataServiceResource> L
@model EditModalModel
@{
    Layout = null;
}
<form data-ajaxForm="true" asp-page="/ArticleViews/EditModal" autocomplete="off">
    <abp-modal id="ArticleViewEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Id" />
            <abp-input asp-for="ArticleView.ConcurrencyStamp" hidden="true" suppress-label="true" />
            <abp-row class="align-items-start">
                <abp-column size-md="_6">
                    <abp-input asp-for="ArticleView.IpAddress" label="@L["IpAddress"].Value" />
                </abp-column>
                <abp-column size-md="_6">
                    <abp-input asp-for="ArticleView.Device" label="@L["Device"].Value" />
                </abp-column>
            </abp-row>
            <abp-row class="align-items-start">
                <abp-column size-md="_6">
                    <abp-input asp-for="ArticleView.Source" label="@L["Source"].Value" />
                </abp-column>
                <abp-column size-md="_6">
                    <abp-date-picker auto-update-input="true" today-button-classes="btn-primary" asp-for="ArticleView.ViewedAt" label="@L["ViewedAt"].Value" />
                </abp-column>
            </abp-row>
            <abp-row class="align-items-start">
                <abp-column size-md="_6">
                    <abp-input asp-for="ArticleView.Duration" label="@L["Duration"].Value" />
                </abp-column>
                <abp-column size-md="_6">
                    <abp-input asp-for="ArticleView.UserId" label="@L["UserId"].Value" />
                </abp-column>
            </abp-row>
            <abp-row class="align-items-start">
                <abp-column size-md="_12">
                    <label class="form-label" asp-for="ArticleView.ArticleId">@L["Article"].Value</label>
                    <select asp-for="ArticleView.ArticleId"
                            class="auto-complete-select"
                            data-autocomplete-api-url="@Url.Content("~/api/masterdata/article-views/article-lookup")"
                            data-autocomplete-display-property="displayName"
                            data-autocomplete-value-property="id"
                            data-autocomplete-items-property="items"
                            data-autocomplete-filter-param-name="filter"
                            data-autocomplete-allow-clear="false"
                            data-autocomplete-placeholder="@L["Search"].Value">
                    </select>
                    <span asp-validation-for="ArticleView.ArticleId" class="text-danger d-block"></span>
                </abp-column>
            </abp-row>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>
