@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using KHHub.MasterDataService.Permissions
@using KHHub.Web.Pages.PlaceViews
@using KHHub.Web.Navigation
@using Microsoft.AspNetCore.Mvc.Localization
@using KHHub.MasterDataService.Localization
@inject IHtmlLocalizer<MasterDataServiceResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["PlaceViews"].Value;
    PageLayout.Content.MenuItemName = KHHubMenus.PlaceViews;
}
@section scripts
{
    <abp-script src="/Pages/PlaceViews/index.js" />
}
@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(MasterDataServicePermissions.PlaceViews.Create))
    {
        <abp-button id="NewPlaceViewButton" text="@L["NewPlaceView"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}
<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_6">
                <label class="form-label" for="FilterText">@L["Search"].Value</label>
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]" />
                        <abp-button button-type="Primary" type="submit" icon="search" />
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_6">
                <label class="form-label" asp-for="PlaceIdFilter">@L["Place"].Value</label>
                <select asp-for="PlaceIdFilter"
                        class="auto-complete-select"
                        data-autocomplete-api-url="@Url.Content("~/api/masterdata/place-views/place-lookup")"
                        data-autocomplete-display-property="displayName"
                        data-autocomplete-value-property="id"
                        data-autocomplete-items-property="items"
                        data-autocomplete-filter-param-name="filter"
                        data-autocomplete-allow-clear="true"
                        data-autocomplete-placeholder="@L["Search"].Value">
                </select>
            </abp-column>
        </abp-row>
        <abp-table striped-rows="true" hoverable-rows="true" id="PlaceViewsTable">
            <thead>
                <tr>
                    <th style="width: 90px;">@L["Actions"]</th>
                    <th>@L["UserId"]</th>
                    <th>@L["IpAddress"]</th>
                    <th>@L["Device"]</th>
                    <th>@L["ViewedAt"]</th>
                    <th>@L["Duration"]</th>
                    <th>@L["Source"]</th>
                    <th>@L["Place"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>
