@page
@using Microsoft.AspNetCore.Mvc.Localization
@using KHHub.MasterDataService.Localization
@using KHHub.Web.Pages.Wards
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using KHHub.MasterDataService.Services.Wards; 
@using System.Globalization
@inject IHtmlLocalizer<MasterDataServiceResource> L
@model EditModalModel
@{
    Layout = null;
}
<form data-ajaxForm="true" asp-page="/Wards/EditModal" autocomplete="off">
    <abp-modal id="WardEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
            <abp-input asp-for="Id" />
                    <abp-input asp-for="Ward.ConcurrencyStamp" hidden="true" suppress-label="true"/>
            <abp-input asp-for="Ward.Code" label="@L["WardCode"].Value" />
            <abp-input asp-for="Ward.Name" label="@L["WardName"].Value" />
            <abp-select asp-for="Ward.ProvinceId"
                        asp-items="Model.ProvinceLookupListRequired"
                        label="@L["Province"].Value" />
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>