@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using KHHub.MasterDataService.Permissions
@using KHHub.Web.Pages.Articles
@using KHHub.Web.Navigation
@using Microsoft.AspNetCore.Mvc.Localization
@using KHHub.MasterDataService.Localization
@inject IHtmlLocalizer<MasterDataServiceResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Articles"].Value;
    PageLayout.Content.MenuItemName = KHHubMenus.Articles;
}
@section styles
{
<style>
    .article-thumb {
        height: 36px;
        width: 36px;
        max-width: 36px !important;
        max-height: 36px !important;
        min-width: 36px !important;
        min-height: 36px !important;
        border-radius: 50% !important;
        object-fit: cover;
    }
</style>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
}
@section scripts
{
    <partial name="~/Pages/Shared/_MediaPreviewSettings.cshtml" />
    <script src="~/Pages/Shared/khhub-media-preview.js" asp-append-version="true"></script>
    <abp-script src="/Pages/Articles/index.js" />
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
}
@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(MasterDataServicePermissions.Articles.Create))
    {
        <abp-button id="NewArticleButton" text="@L["NewArticle"].Value" icon="plus" size="Small" button-type="Primary" />
    }
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
}
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_12">
                <label class="form-label" for="FilterText">@L["Search"].Value</label>
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]" />
                        <abp-button button-type="Primary" type="submit" icon="search" />
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_4">
                <abp-select asp-for="StatusFilter" asp-items="@Model.ArticleStatusList" label="@L["Status"].Value" />
            </abp-column>
            <abp-column size-md="_4">
                <abp-select asp-for="TypeFilter" asp-items="@Model.ArticleTypeList" label="@L["Type"].Value" />
            </abp-column>
            <abp-column size-md="_4">
                <label class="form-label" asp-for="ArticleCategoryIdFilter">@L["ArticleCategory"].Value</label>
                <select asp-for="ArticleCategoryIdFilter"
                        class="auto-complete-select"
                        data-autocomplete-api-url="@Url.Content("~/api/masterdata/articles/article-category-lookup")"
                        data-autocomplete-display-property="displayName"
                        data-autocomplete-value-property="id"
                        data-autocomplete-items-property="items"
                        data-autocomplete-filter-param-name="filter"
                        data-autocomplete-allow-clear="true"
                        data-autocomplete-placeholder="@L["Search"].Value">
                </select>
            </abp-column>
        </abp-row>
        <abp-table striped-rows="true" hoverable-rows="true" id="ArticlesTable">
            <thead>
                <tr>
                    <th style="width: 90px;">@L["Actions"]</th>
                    <th style="width: 56px;">@L["ThumbnailUrl"]</th>
                    <th>@L["Title"]</th>
                    <th>@L["ArticleCategory"]</th>
                    <th>@L["Type"]</th>
                    <th>@L["Status"]</th>
                    <th>@L["PublishedAt"]</th>
                    <th>@L["AuthorName"]</th>
@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@