@page
@using Microsoft.AspNetCore.Mvc.Localization
@using KHHub.MasterDataService.Localization
@using KHHub.Web.Pages.PlaceReviews
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using KHHub.MasterDataService.Services.PlaceReviews; 
@using System.Globalization
@inject IHtmlLocalizer<MasterDataServiceResource> L
@model EditModalModel
@{
    Layout = null;
}
<form data-ajaxForm="true" asp-page="/PlaceReviews/EditModal" autocomplete="off">
    <abp-modal id="PlaceReviewEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
            <abp-input asp-for="Id" />
                    <abp-input asp-for="PlaceReview.ConcurrencyStamp" hidden="true" suppress-label="true"/>
            <abp-input asp-for="PlaceReview.Rating"    />
            <abp-input asp-for="PlaceReview.Title"    />
            <abp-input asp-for="PlaceReview.Comment" text-area   />
            <abp-input asp-for="PlaceReview.LikeCount"    />
            <abp-select asp-for="PlaceReview.Status"    />
            <abp-input asp-for="PlaceReview.UserId"    />
                                <div class="form-group">
                <label for="PlaceReview_PlaceId">@L["Place"]</label>
                <select id="PlaceReview_PlaceId"
                         name="PlaceReview.PlaceId"
                         class="custom-select form-control"
                         data-value="@Model.PlaceReview.PlaceId" required>
                    @if (Model.Place != null)
                    {
                        <option value="@Model.PlaceReview.PlaceId">@Model.Place.Name</option>
                    }
                </select>
            </div>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>