@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using KHHub.MasterDataService.Permissions
@using KHHub.Web.Pages.Provinces
@using KHHub.Web.Navigation
@using Microsoft.AspNetCore.Mvc.Localization
@using KHHub.MasterDataService.Localization
@inject IHtmlLocalizer<MasterDataServiceResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Provinces"].Value;
    PageLayout.Content.MenuItemName = KHHubMenus.Provinces;
}
@section styles
{
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
}
@section scripts
{
    <abp-script src="/Pages/Provinces/index.js" />
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
}
@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(MasterDataServicePermissions.Provinces.Create))
    {
        <abp-button id="NewProvinceButton" text="@L["NewProvince"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}
<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_12">
                <label class="form-label" for="FilterText">@L["Search"].Value</label>
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]" />
                        <abp-button button-type="Primary" type="submit" icon="search" />
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_6">
                <abp-input asp-for="CodeFilter" label="@L["Code"].Value" />
            </abp-column>
            <abp-column size-md="_6">
                <abp-input asp-for="NameFilter" label="@L["Name"].Value" />
            </abp-column>
        </abp-row>
        <abp-table striped-rows="true" hoverable-rows="true" id="ProvincesTable">
            <thead>
                <tr>
                    <th style="width: 90px;">@L["Actions"]</th>
                    <th>@L["Code"]</th>
                    <th>@L["Name"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>
