@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using KHHub.MasterDataService.Permissions
@using KHHub.Web.Pages.ArticleCategories
@using KHHub.Web.Navigation
@using Microsoft.AspNetCore.Mvc.Localization
@using KHHub.MasterDataService.Localization
@inject IHtmlLocalizer<MasterDataServiceResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ArticleCategories"].Value;
    PageLayout.Content.MenuItemName = KHHubMenus.ArticleCategories;
}
@section styles
{
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
}
@section scripts
{
    <abp-script src="/Pages/Articles/article-media-upload.js" />
    <abp-script src="/Pages/ArticleCategories/index.js" />
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
}
@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(MasterDataServicePermissions.ArticleCategories.Create))
    {
        <abp-button id="NewArticleCategoryButton" text="@L["NewArticleCategory"].Value" icon="plus" size="Small" button-type="Primary" />
    }
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
}
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_12">
                <label class="form-label" for="FilterText">@L["Search"].Value</label>
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]" />
                        <abp-button button-type="Primary" type="submit" icon="search" />
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_4">
                <label class="form-label" asp-for="ParentIdFilter">@L["ArticleCategoryParentId"].Value</label>
                <select asp-for="ParentIdFilter"
                        class="auto-complete-select"
                        data-autocomplete-api-url="@Url.Content("~/api/masterdata/articles/article-category-lookup")"
                        data-autocomplete-display-property="displayName"
                        data-autocomplete-value-property="id"
                        data-autocomplete-items-property="items"
                        data-autocomplete-filter-param-name="filter"
                        data-autocomplete-allow-clear="true"
                        data-autocomplete-placeholder="@L["Search"].Value">
                </select>
            </abp-column>
            <abp-column size-md="_4">
                <label class="form-label" asp-for="IsActiveFilter">@L["IsActive"].Value</label>
                <select asp-for="IsActiveFilter" asp-items="Model.IsActiveFilterItems" class="form-select"></select>
            </abp-column>
        </abp-row>
        <abp-table striped-rows="true" hoverable-rows="true" id="ArticleCategoriesTable">
            <thead>
                <tr>
                    <th style="width: 90px;">@L["Actions"]</th>
                    <th style="width: 72px;">@L["ThumbnailUrl"]</th>
                    <th>@L["Name"]</th>
                    <th>@L["Slug"]</th>
                    <th>@L["Description"]</th>
                    <th>@L["Icon"]</th>
                    <th>@L["ParentId"]</th>
                    <th>@L["DisplayOrder"]</th>
                    <th>@L["IsActive"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@
